---
layout: page
title: About us
permalink: /about-us/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated text-center fadeInUp">FLOSSK</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Free Libre Open Source Software Kosova (FLOSSK) is a non-governmental organization based in Prishtina established in 2009 in order to support, promote and develop free and open source software, open and participatory knowledge, education in information technologies through open courseware, and open standards, culture and open society using free communication.</p>
          </div>
      </div>
<p>FLOSSK is a membership-based organization run by a five-member executive board. Its most important projects are the annual international free software conference Software Freedom Kosova (SFK) and the space for experimentation in technology, arts and culture Prishtina Hackerspace.</p>

<p>FLOSSK targets youth, students and IT professionals.  </p>

<p><strong>AREAS OF WORK</strong></p>

<p>Education in technology.</p>

<p><strong>TARGET GROUPS</strong></p>

<p>The technology community and students from technical faculties as well as Open Knowledge and Open Culture activists in general.</p>

<p><strong>BACKGROUND</strong></p>

<p>FLOSSK began in March 2009 at the initiative of James Michael DuPont as a result of the desire to organize a conference on Free and Open Source Software. After six months of hard work and with the help of many supporters FLOSSK organized the first conference on Free and Open Source Software in Kosovo in August 2009.</p>

<p>Apart from the Conference, FLOSSK continued working in various activities such as organizing Software Freedom Days, holding free public lectures on Free and Open Source Software, and developing, translating, and collaborating with the media to promote Free and Open Source Software throughout Kosovo. FLOSSK members and the general public learned about the ideology behind Free and Open Source Software, GNU/Linux operating system, FLOSS programs for solving everyday problems, map creation using OpenStreetMap, and met well known Free Software movement figures from around the world.</p>

<p><strong>MISSION</strong></p>

<p>FLOSS Kosovo is a non-governmental non-profit organization established in order to support, promote and develop:</p>

<ol>
<li>Free/Libre Software as defined by the Free Software Foundation;</li>

<li>Open Source Software as defined by the Open Source Initiative;</li>

<li>Open and participatory knowledge as that supported by the Wikimedia Foundation;</li>

<li>Education in information technologies through open courses or trainings;</li>

<li>Standards, culture and open society by using free and open communication as are those supported by the W3C and Creative Commons.</li>
</ol>

<p><strong>OBJECTIVES</strong></p>

<p>To achieve its goals, the association will undertake, without limitation, the following activities:</p>

<ol>
<li>The Annual Conference available to the general public with the lowest prize possible to help the aspirations set out above;</li>

<li>Enable access to free and open source software and relevant knowledge by facilitating the distribution and localization in the local languages of Kosovo;</li>

<li>Cooperate with local and international partners and sponsors of the industry, academia and government to drive forward the aims of the association;</li>

<li>Trainings and events.</li>
</ol>

<p><strong>Membership and the Excecutive Board</strong></p>

<p>FLOSSK and Prishtina Hackerspace as a collaborative space enumerate over 40 members who contribute to the projects of the association.</p>

<p><em>The Executive Board</em></p>

<ul>
<li><p><a href="arianit.dobroshi@flossk.org">Arianit Dobroshi</a>, President</p></li>

<li><p><a href="bresta@flossk.org">Shkumbin Brestovci</a>, Member </p></li>

<li><p><a href="altin.ukshini@flossk.org">Altin Ukshini</a>, Member</p></li>

<li><p><a href="besfort.guri@flossk.org">Besfort Guri</a>, Member</p></li>

<li><p><a href="violeta.islami@flossk.org">Violeta Islami</a>, Member </p></li>
</ul>

<p><strong>Partners and Sponsors</strong></p>

<ul>
<li><p><a href="www.ipkofoundation.org">Ipko Foundation</a>  </p></li>

<li><p><a href="www.kosovoinnovations.org">UNICEF Innovations Lab Kosovo</a> </p></li>

<li><p><a href="https://fiek.uni-pr.edu/">Faculty of Engineering and Computer Science - UP</a> </p></li>

<li><p><a href="http://www.mkrs-ks.org/?page=1,130">Kosovo Institute për the Protection of Monuments (MCYS)</a> </p></li>

<li><p><a href="https://masht.rks-gov.net/en">Ministry of Education, Science and Technology</a> </p></li>

<li><p><a href="http://prishtinaonline.com/">Municipality of Prishtina</a></p></li>

<li><p><a href="https://pristina.usembassy.gov">US Embassy, Kosovo</a></p></li>

<li><p><a href="http://www.ickosovo.com">Innovation Center Kosovo</a></p></li>

<li><p><a href="www.openlabs.cc">Open Labs Albania (Tirana)</a></p></li>

<li><p><a href="http://b10g.spodeli.org">KIKA Hacklab (Skopje)</a> </p></li>
</ul>
        </div>
    </div>
  </div>
</section>