---
layout: page
title: Contact us!
permalink: /contact/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get in touch</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Reach us in one of the following ways</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>Ganimete Tërbeshi St., No. 2 Aktash neighborhood 10000 Prishtina, Kosovo.
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>Email: <a href="mailto:info@flossk.org">info@flossk.org</a>
            </li>
            <li>
              <i class="fa fa-comments-o"></i> Chat with one on our IRC room at <a href="https://webchat.freenode.net/#flossk">#flossk</a> on freenode
            </li>
            <li>
             <i class="fa fa-envelope-o"></i> Contact us through our <a href="https://lists.flossk.org/cgi-bin/mailman/listinfo/general">public mailing list </a>
            </li>
          </ul>

          <ul class="social-icons">
            <li>
              <a href="https://gitlab.com/flossk/"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/flosskchannel"><i class="fa fa-youtube"></i></a>
            </li>
            <li>
              <a href="http://twitter.com/flosskosova"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/flossk"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Map</h2>
            <div class="google-map">
              <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=21.166325211524963%2C42.65463930959959%2C21.172708868980408%2C42.65753506888671&amp;layer=mapnik&amp;marker=42.65608720609856%2C21.169517040252686" marginwidth="0" marginheight="0" scrolling="no" style="width: 100%;min-height: 300px;" frameborder="0"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
