<!-- Header Start -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Updates</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Projects<span class="caret"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://www.prishtinahackerspace.org/">Prishtina Hackerspace</a>
                    <a class="dropdown-item" href="http://sfk.flossk.org/">SFK Conference</a>
                  </div>
                </li>
                <li><a href="{{ site.baseurl }}/about-us">About Us</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
                <li style="position: absolute;top: -35px;right: 0;font-size: 14px; margin-top: 20px;">
                  <a id="langtosq" style="padding:0; display:inline;opacity:.5" href="">Shqip</a>
                  <span stype="margin:5px">-</span>
                  <a id="langtoen" style="padding:0; display:inline;opacity:.5" href="">English</a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->