---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;padding-top:0;">
    <div class="container" style="padding: 0 50px;">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <div class="post_content">
            {{ content }}
            </div>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <aside class="social-share row" style="margin-top:10px;float:right;">
            <h4 style="display: inline; margin-left:0; " >Share this:</h4>
            <ul style="display: inline;">
                <li style="display: inline;" class="twitter"><a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ site.baseurl }}{{ page.url }}{% if page.description %}&text={{ page.description | url_escape }}{% else %}&title={{ page.title | url_escape }}{% endif %}{% if site.twitter %}&via={{ site.twitter }}{% endif %}" title="Share on Twitter">Twitter</a></li>
                <li style="display: inline;" class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}{% if page.description %}&t={{ page.description | url_escape }}{% else %}&title={{ page.title | url_escape }}{% endif %}" title="Share on Facebook">Facebook</a></li>
                <li style="display: inline;" class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Google Plus">Google+</a></li>
          </ul>
      </aside>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="/">Back to updates</a>
</p>
